<div class="title-bar" data-responsive-toggle="my-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="my-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="my-menu">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Catcasts</li>
    </ul>
  </div>
  <ul class="menu">
    <%= if @conn.assigns[:user] do %>
      <li class="menu-text">
        Welcome, <%= @conn.assigns.user.first_name %>!
      </li>
      <li>
          <%= link "Videos", to: video_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Add video", to: video_path(@conn, :new) %>
      </li>
      <li>
        <%= link "Sign out", to: auth_path(@conn, :delete), class: "button alert" %>
      </li>
    <% else %>
      <li>
        <%= link "Videos", to: video_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Sign in with Google", to: auth_path(@conn, :request, "google", scope: "email profile"), class: "button" %>
      </li>
    <% end %>
  </ul>
</div>
