.hero-section {
  background: linear-gradient(
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.2)
  ), url('/images/cat.jpg') 50% no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
.no-js .top-bar {
  display: none;
}
@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
.no-js .title-bar {
    display: none;
  }
}
.callout:empty {
  display: none;
}
.video-index {
  padding-top: 10px;
}
.duration-text {
  font-size: .65em;
  color: #555;
}
.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.pagination > li {
  display: inline !important;
}
.pagination > .disabled > .page-link {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
  margin-left: -1px;
}
.pagination > .page-item.active > a,
.pagination > .page-item.active > span,
.pagination > .page-item.active > a:hover,
.pagination > .page-item.active > span:hover,
.pagination > .page-item.active > a:focus,
.pagination > .page-item.active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .page-item > a,
.pagination > .page-item > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > .page-item > a:hover,
.pagination > .page-item > span:hover,
.pagination > .page-item > a:focus,
.pagination > .page-item > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}
